/* border highlight
  border-color: red;
  border-width: 1px;
  text-align: center;
  */

/* ### GENERAL THEMEING ######################################################################## */
@font-face {
  font-family: "Montserrat";
  src: local("Monterrat"), url(./fonts/Montserrat-Regular.ttf) format("truetype");
}
/* Primary Theme */
.h1-primary {
  color: #639a67;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}
.h2-primary {
  color: Black;
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 10px;
}
.h3-primary {
  color: #639a67;
  font-size: 30px;
  text-align: left;
  padding-top: 10px;
}
.hr-primary {
  border-color: #639a67;
}
.body-primary {
  color: black;
  font-size: 15px;
  text-align: left;
  padding-top: 5px;
}
.primary {
  background-color: #faf4ed;
  width: 100%;
  display: flex;
  height: auto;
  box-shadow: 0px -5px 30px rgb(65, 65, 65);
  float: left;
  justify-content: center;
}

/* Secondary Theme */
.h1-secondary {
  color: #faf4ed;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}
.h2-secondary {
  color: #626262;
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 10px;
}
.h3-secondary {
  color: #faf4ed;
  font-size: 30px;
  text-align: left;
  padding-top: 10px;
}
.hr-secondary {
  border-color: #faf4ed;
}
.body-secondary {
  color: black;
  font-size: 15px;
  text-align: left;
  padding-top: 5px;
}
.secondary {
  background-color: #94b691;
  width: 100%;
  display: flex;
  height: auto;
  box-shadow: 0px -5px 30px rgb(65, 65, 65);
  float: left;
  justify-content: center;
}

/* Scroll Bar */
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* MISC */
.detail-descriptor {
  font-weight: bold;
  padding: 5px 10px 5px 3px;
}

.indent {
  text-indent: 50px;
}
.content {
  padding: 0 5vw;
  width: 100%;
  max-width: 1000px;
  float: left;
  margin: 10vh 0;
  min-height: 350px;
}
ul {
  margin: 1px;
  padding-left: 27px;
}
li {
  padding-bottom: 5px;
}
a {
  color: black;
}
a:hover {
  color: black;
}

/* ### APP COMPONENT ########################################################################### */
.app {
  font-family: Montserrat;
  min-width: 415px;
}
.fixed-img {
  background-image: url("images/alaska-glacier-selfie-2.jpg");
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}

/* ### TITLE COMPONENT ######################################################################### */
.title {
  padding-top: 20vh;
  padding-right: 9vw;
  padding-bottom: 40vh;
}
.title-heading {
  color: #639a67;
  font-size: 5vw;
  min-width: font;
  letter-spacing: 5px;
  text-shadow: 3px 3px 5px #444444;
  text-align: right;
  padding-right: 1.2vw;
}
.title-sub-heading {
  color: #f0fcff;
  font-size: 2vw;
  letter-spacing: 1.7vw;
  text-shadow: 3px 3px 5px #444444;
  text-align: right;
}
.scroll-down {
  text-align: center;
  padding-bottom: 10vh;
}
.scroll-down-icon {
  width: 10vh;
  min-width: 40px;
  height: 10vh;
  min-height: 40px;
  opacity: 50%;
  border-radius: 100%;
}
.scroll-down-icon:hover {
  opacity: 100%;
  background-color: #6262628f;
  cursor: pointer;
}

/* ### PROFILE COMPONENT ####################################################################### */

.left-column {
  float: left;
  width: 52%;
  min-width: 400px;
  padding-right: 2%;
}
.right-column {
  text-align: center;
}
.profile-pic {
  margin-top: 30px;
  border-radius: 100%;
  width: 150px;
  background-color: #a8cea5;
}

/* ### ABOUT COMPONENT ####################################################################### */
.about {
  background-color: #a8cea5;
  width: 100%;
  display: flex;
  height: auto;
  box-shadow: 0px -5px 30px rgb(65, 65, 65);
  float: left;
  justify-content: center;
}

/* ### EXPERIENCE COMPONENT ####################################################################### */
.td-left-title {
  font-weight: bold;
  width: 200px;
}
.td-left-detail {
  vertical-align: top;
}
.td-right-title {
  font-weight: bold;
}
.td-right-detail {
  vertical-align: top;
}
.spacer {
  font-size: 15px;
}

/* ### CONTACT COMPONENT ####################################################################### */
.icon-tray {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.circle-icon-white {
  width: 75px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  background-color: #faf4ed;
}

.circle-icon-green {
  width: 75px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  background-color: #a8cea5;
}

.contact-icon-button {
  white-space: nowrap;
  position: relative;
  border-radius: 50px;
  width: 75px;
  float: left;
  transition: 0.25s;
  overflow: hidden;
  height: 75px;
  text-align: center;
  margin: 5px;
  background-color: #faf4ed;
}
.contact-icon-button:hover {
  position: relative;
  width: 435px;
  transition: 0.25s;
  background-color: #faf4ed;
}
.linkedIn-icon-button {
  white-space: nowrap;
  position: relative;
  line-height: 76px;
  border-radius: 50px;
  width: 75px;
  float: left;
  transition: 0.25s;
  overflow: hidden;
  max-height: 75px;
  text-align: center;
  color: white;
  margin-top: 20px;
}
.linkedIn-icon-button:hover {
  position: relative;
  width: 380px;
  transition: 0.25s;
  background-color: #a8cea5;
}

.gitHub-icon-button {
  position: relative;
  line-height: 76px;
  border-radius: 50px;
  width: 75px;
  float: left;
  transition: 0.25s;
  overflow: hidden;
  max-height: 75px;
  text-align: center;
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
.gitHub-icon-button:hover {
  position: relative;
  width: 600px;
  transition: 0.25s;
  background-color: #faf4ed;
  text-decoration: underline;
  font-weight: bold;
}

.button-text {
  padding: 27px;
}
